html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: relative;
  top: 550px;
  right: 120px;
  
  
}

/* Write your solution here */
@media all and (max-width:1170px) {
#monkey{
  bottom: 500px;
}
  
}

@media all and (min-width:406px) {
}